body {
  margin: 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8T-irY8saxjWZVaXz1uCAFdDnB3pfjRfGlA&s");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKnbAz2CRUxZ0-wn1M9Wjw_YY0jMaHZM9DrQ&s");
  background-size: cover;
  background-repeat: no-repeat;
}
